body{ font-family: Helveti;
                 font-size: 50px;
	     background-color: rgb(44, 44, 44);
	     color: rgb(44, 44, 44);
	      padding: 0;
	      margin: 0;
	      color: rgb(68, 204, 211);
	    }
                
	   	
            p1{ font-family: serif;
                font-size: 50px;
                
                }
            p2{
              font-family: 'Courier New', Courier, monospace;
              font-size:40px;
              
            }
                
            img{
              border:20px solid rgb(68, 204, 211);
           }
           h1{
             
             
             font-size: 90px;
           }
         

           .n ul{
            list-style: none;
             
             align-items: center;
             display: block;
             padding-left: 0;
           }
  
                      
          .n{
            position: fixed;
            top: 0;
            width: 100%;
           background-color: rgb(68, 204, 211);
           
          font-size: 60px;
          
          
   }
   .n ul{
     margin:0;
     padding:0;
   }
          .n a{
            
            text-decoration: none;
            padding: 5px;
            padding-left: 10px;
            text-shadow:2px 2px 5px rgb(44, 44, 44);
            color: rgb(44, 44, 44);
            display: inline;

          }
          .n a:hover{
            background-color: white;
            color: black;
           }
          footer{
             text-align: center;
            background-color: rgb(68, 204, 211);
   
        padding-bottom: 1px;
      
      }
      p{
        color: rgb(44, 44, 44);
        text-shadow: 2px 2px 5px black;
        font-size: 17px;
        
        border-bottom: 3px solid rgb(44, 44, 44);
       
        
      }
      
      .p ul{
        list-style: none;
 
         
      }
      .p a{
        color: rgb(44, 44, 44);
        text-decoration: none;
        text-shadow:2px 2px 5px black;
        display: inline-block;
        font-size: 50px;
        padding: 5px;
        
        
      }
      p5{
       text-shadow: 2px 2px 5px black;
      font-size: 15px;
      color: rgb(44, 44, 44);
      }
  
  
      