body{ font-family: Helveti;
                 font-size: 50px;
	     background-color: navajowhite;
	     color: rgb(20, 53, 70);
	      padding: 0;
	      margin: 0;
	      
	    }
                
	   	
            p1{ font-family: serif;
                font-size: 50px;
       
                }
            p2{
             display: block;
              
              
              font-family: serif;
              font-size:50px;
              color: rgb(20, 53, 70);
           
              
        }
                
            div{
              text-align: center;
            }   
            img{
              border:20px solid rgb(24, 24, 24);
              border-radius: 45px;
              
        }
           h1{
             
             
             font-size: 90px;
           }
         

           .n ul{
            list-style: none;
             
             align-items: center;
             display: block;
             padding-left: 5px;
           }
  
                      
          .n{
            position: fixed;
            top: 0;
            width: 100%;
           background-color: rgb(20, 53, 70);
           
          font-size: 40px;
          
          
   }
   .n ul{
     margin:0;
     padding:0;
   }
          .n a{
            
            text-decoration: none;
           padding: 20px;
            padding-left: 15px;
            color: navajowhite;
            display: inline;
            

          }
          .n a:hover{
            background-color: navajowhite;
            color: rgb(20, 53, 70);
           }
          footer{
             text-align: center;
            background-color: rgb(20, 53, 70);
   
        padding-bottom: 1px;
      
      }
      p{
        color: navajowhite;
        text-shadow: 2px 2px 5px navajowhite;
        font-size: 17px;
        
        border-bottom: 3px solid rgb(243, 247, 238);
       
        
      }
      
      .p ul{
        list-style: none;
 
         
      }
      .p a{
        
        text-decoration: none;
        text-shadow:2px 2px 5px navajowhite;
        display: inline-block;
        font-size: 50px;
        padding: 8px;
        color: navajowhite;
        
        
      }
      p5{
       text-shadow: 2px 2px 5px navajowhite;
      font-size: 15px;
      color: navajowhite;
      
      }
  
  
      