body{ font-family: Helveti;
                 font-size: 50px;
	     background-color: rgb(243, 247, 238);
	     color: rgb(20, 53, 70);
	      padding: 0;
	      margin: 0;
	      
	    }
                
	   	
            p1{ font-family: serif;
                font-size: 50px;
                
                }
            p2{
              background-color: rgb(176, 209, 196);
               
              font-family: 'Courier New', Courier, monospace;
              font-size:40px;
              text-align: justify;
              border: 3px solid rgb(176, 209, 196);
              border-radius: 20px;
              
            }
                
            img{
              border:20px solid rgb(20, 53, 70);
              align-items: center;
           }
           h1{
             
             
             font-size: 90px;
           }
         

           .n ul{
            list-style: none;
             
             align-items: center;
             display: block;
             padding-left: 0;
           }
  
                      
          .n{
            position: fixed;
            top: 0;
            width: 100%;
           background-color: rgb(176, 209, 196);
           
          font-size: 60px;
          
          
   }
   .n ul{
     margin:0;
     padding:0;
   }
          .n a{
            
            text-decoration: none;
            padding: 7px;
            padding-left: 15px;
            color: rgb(20, 53, 70);
            display: inline;

          }
          .n a:hover{
            background-color: white;
            color: black;
           }
          footer{
             text-align: center;
            background-color: rgb(176, 209, 196);
   
        padding-bottom: 1px;
      
      }
      p{
        color: rgb(20, 53, 70);
        text-shadow: 2px 2px 5px black;
        font-size: 17px;
        
        border-bottom: 3px solid rgb(243, 247, 238);
       
        
      }
      
      .p ul{
        list-style: none;
 
         
      }
      .p a{
        
        text-decoration: none;
        text-shadow:2px 2px 5px black;
        display: inline-block;
        font-size: 50px;
        padding: 8px;
        color: rgb(20, 53, 70)
        
        
      }
      p5{
       text-shadow: 2px 2px 5px black;
      font-size: 15px;
      
      }
  
  
      