body{ font-family: Helveti;
                 
	     background-image: url("/mn.png");
	     background-size: cover;
	     color: white;
	      padding: 0;
	      margin: 0;
	      
	    }
                
	   p{
	     text-align: center;
	     font-size: 30px;
           color: white;
	   }
  

    .n{
justify-content: left;
width: 40%;
 flex-direction: column;
 display: flex;
color: white;
 
 
    }
    a{
      color: white;
      text-decoration: none;
      padding: 5px 10px;
    }
  .n:hover{
    background-color: white;
    color: black;
    
  }
  #togg{
   display: none;
  }
  .togg{
    background-color: white;
    display: flex;
    flex-direction: right;
    top: 1px;
    padding: 3px;
  }
  span{
    display: flex;
    height: 3px;
    width: 20px;
   margin: 3px 0px;
   border-radius: 2px;
    background-color: white;
 
    
   }
   label{
     background-color: none;
     
   }
   
   
  @media screen and (max-width: 1000px)
  {
    
    
    
    
    .n{
      display: none;
      
    }
   
    #togg:checked + .n{
      display: flex;
    }
      
    }
  }

                      
   .n ul{
     margin:0;
     padding: 0;
     
     
   }
          .n a{
            
            text-decoration: none;
           padding: 20px;
            color: white;
         }
  
      
