body{ font-family: Helveti;
                 
	     background-image: url("/mn.png");
	     background-size: cover;
	     color: white;
	      padding: 0;
	      margin: 0;
	      
	    }
                
	   div{
	     text-align: center;
	     
	   }
  

                      
          .n{
            position: fixed;
            float: center;
            top: 0;
           
          font-size: 30px;
          
          
   }
   .n ul{
     margin:0;
     text-align: center;
     padding: 0;
     display: inline;
     
   }
          .n a{
            
            text-decoration: none;
           padding: 20px;
            color: white;
         }
          .n a:hover{
            background-color: white;
            color: black;
          }
  
      